
.vs/myWebApp/v16/Server/sqlite3/db.lock
.vs/myWebApp/v16/Server/sqlite3/storage.ide
.vs/myWebApp/v16/Server/sqlite3/storage.ide-shm
.vs/myWebApp/v16/Server/sqlite3/storage.ide-wal
.vs/myWebApp/v16/TestStore/0/000-0000.testlog
.vs/myWebApp/v16/TestStore/0/testlog.manifest
bin/Debug/netcoreapp3.0/myWebApp.dll
bin/Debug/netcoreapp3.0/myWebApp.pdb
bin/Debug/netcoreapp3.0/myWebApp.Views.dll
obj/Debug/netcoreapp3.0/myWebApp.assets.cache
obj/Debug/netcoreapp3.0/myWebApp.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/myWebApp.dll
obj/Debug/netcoreapp3.0/myWebApp.pdb
obj/Debug/netcoreapp3.0/myWebApp.Views.dll
bin/Debug/netcoreapp3.0/myWebApp.dll
bin/Debug/netcoreapp3.0/myWebApp.pdb
bin/Debug/netcoreapp3.0/myWebApp.Views.dll
obj/Debug/netcoreapp3.0/myWebApp.assets.cache
obj/Debug/netcoreapp3.0/myWebApp.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/myWebApp.dll
obj/Debug/netcoreapp3.0/myWebApp.pdb
obj/Debug/netcoreapp3.0/myWebApp.Views.dll
